%h1 Users#show
%p Find me in app/views/user/show.html.haml

%h2 #{@current_user.name}

=link_to 'New Baby Name', new_user_baby_name_path(@current_user)

%table
  %tr
    %th Baby Names
  - @current_user.baby_names.each do | baby_name|
    %tr
      %td= baby_name.name.titleize

